<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusiotec.warehousing.warehousing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".manager.WareHouseApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Dashboard"
            android:label="Dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.RegistrationActivity"
            android:label="Registration"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ChangePasswordActivity"
            android:label="Change Password"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.BranchListActivity"
            android:label="Branch List"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.RegisterBranchActivity"
            android:label="Branch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.AccountListActivity"
            android:label="Accounts"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.AdminListActivity"
            android:label="Admins"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ReceivingActivity"
            android:label="Receiving"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.SplashScreenActivity"
            android:label="SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ReceivingItemsActivity"
            android:label="Receiving Items"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ReceivingListActivity"
            android:label="Receiving List"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.SearchItemActivity"
            android:label="Search Item"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ImageViewerActivity"
            android:label="Images"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
